.main-container { width: 100vw}
h2 { margin: 10px }
td { width: 20% }
.search-container { margin: 10px }
.search { 
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap; 
}
.search-property, .search-value, .search-loaned-on, .date { 
  margin-right: 10px;
}
.dropdown { 
  width: 150px;
}
.search-value { width: 300px }
.date label { 
  display: block; 
  margin: 0 
}
.date, .search-loaned-on { display: inline-block }
.table-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  justify-content: space-between;
}
.table-container { 
  width: 45%;
}

